# /etc/systemd/system/pingme.service

[Unit]
Description=Pingme service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
ExecStart=/usr/bin/pingme.py

[Install]
WantedBy=multi-user.target
